{{ 's-products-slider.css' | asset_url | stylesheet_tag }}

<ul class="products-slider h-s">
  {% for product in products %}
    <li>
      <a href="{{ product.url }}">
        <figure>
          {{ product.featured_image | image_url: width: 800 | image_tag }}
        </figure>

        <h4>{{ product.title }}</h4>
        <p class="price">{{ product.price | money }}</p>
      </a>
    </li>
  {% endfor %}
</ul>
