<fieldset class="option">
  {% comment %} <div class="option_name">{{ option.name }}</div> {% endcomment %}

  <div class="option_values">
    {% for value in option.values %}
      {% liquid
        assign current_variant = product.selected_or_first_available_variant
        if current_variant.options contains value
          assign selected = true
        else
          assign selected = false
        endif

        assign swatch = value.swatch
        assign swatch_value = null
        if swatch.image
          assign image_url = swatch.image | image_url: width: 50
          assign swatch_value = 'url(' | append: image_url | append: ')'
          assign swatch_focal_point = swatch.image.presentation.focal_point
        elsif swatch.color
          assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
        endif
      %}

      <div class="value {% if swatch %}is-swatch{%else%}not-swatch{% endif %}">
        <input
          type="radio"
          name="{{ option.name }}"
          value="{{ value }}"
          id="{{ option.name | handleize }}_{{ value | handleize }}"
          {% if selected %}
            checked
          {% endif %}
        >
        <label
          for="{{ option.name | handleize }}_{{ value | handleize }}"
        >
          {% if swatch == null %}
            {{- value -}}
          {% else %}
            <span
              class="swatch"
              style="--swatch--background: {{ swatch_value }};{% if swatch_focal_point %} --swatch-focal-point: {{ swatch_focal_point }};{% endif %}"
            ></span>
          {% endif %}
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>
