{{ 's-cart-drawer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'j-cart-drawer.js' | asset_url }}" defer></script>

<div class="cd_">
  <div class="cd">
    {% comment %}
      HEADER
    {% endcomment %}
    <header class="cd_h">
      <h2>BAG</h2>

      <div class="cd_h_r">
        <div data-count="{{ cart.item_count }}" class="cd_h_count_">
          (<span class="cd_h_count">
            {% if cart.item_count > 0 %}
              {{- cart.item_count -}}
            {% else %}
              0
            {% endif %} </span
          >)
        </div>

        <button class="cd_h_close" type="button">
          {{ 'i-close.svg' | inline_asset_content }}
        </button>
      </div>
    </header>

    {% form 'cart', cart, class: 'cd_form' %}
      {% if cart.item_count == 0 %}
        <p class="cd_empty">Your cart is empty</p>
      {% else %}
        <ul class="cd_items-list">
          {% for item in cart.items %}
            <li class="cd_item" data-line-key="{{ item.key }}">
              <div class="cd_item-image">
                {{ item.image | image_url: width: 200 | image_tag }}
              </div>

              <div class="cd_item-info">
                <div class="info_t">
                  <h3 class="cd_item-title">
                    {{ item.product.title | link_to: item.url }}
                  </h3>
                  {% if item.product.has_only_default_variant == false %}
                    <p class="cd_item-options">
                      {{ item.variant.title }}
                    </p>
                  {% endif %}

                  <div class="cd_item-quantity">
                    <button id="minus" type="button">
                      {{- 'i-minus.svg' | inline_asset_content -}}
                    </button>
                    <input type="text" readonly value="{{ item.quantity }}">
                    <button id="plus" type="button">
                      {{- 'i-plus.svg' | inline_asset_content -}}
                    </button>
                  </div>
                </div>
                <div class="info_b">
                  {{ 'Remove' | link_to: item.url_to_remove }}
                  <p>{{ item.final_line_price | money }}</p>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        {% comment %}
          FOOTER
        {% endcomment %}
        <footer class="cd_f">
          <div class="cd_f-t">
            {% if cart.total_discounts > 0 %}
              <div class="cd_f_discount">
                <h3>Discount</h3>
                <span>{{ cart.total_discounts | money }}</span>
              </div>
            {% endif %}
            <div class="cd_f_subtotal">
              <h3>Subtotal</h3>
              <span>{{ cart.total_price | money }}</span>
            </div>
          </div>
          <div class="cd_f-b">
            <p>Shipping & Taxes are calculated at checkout</p>
            <button type="submit" name="checkout">CHECKOUT</button>
          </div>
        </footer>
      {% endif %}
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "cart-drawer",
  "settings": []
}
{% endschema %}
