{{ 's-p-main.css' | asset_url | stylesheet_tag }}
{{ 's-product-card.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script src="{{ 'j-main.js' | asset_url }}" defer></script>

{% assign collection = collections.home %}

<div class="p">
  <section class="s-he">
    <picture>
      <source srcset="{{'im-he-ban.png' | asset_url}}" media="(min-width: 770px)">
      <img src="{{ 'im-he-ban.png' | asset_url  }}" width="auto" height="auto" alt="logo">
    </picture>
  </section>
  <section class="s-colc">
    <h2>
      WHERE LIVING <br>
      BECOMES <i>ART</i> <br>
      AND EVERY TABLE IS A<br>
      <i>PERFORMANCE</i>
    </h2>

    <ul>
      {% for product in collection.products %}
        <li>
          {% render 'product-card', product: product %}
        </li>
      {% endfor %}
    </ul>
  </section>
  <section class="s-gal">
    <div class="s-gal_h">
      <h2>A TABLE IS NEVER TRULY STILL</h2>
      <nav>
        <button id="swiper-b-prv">
          {{ 'i-arrow.svg' | inline_asset_content }}
        </button>
        <button id="swiper-b-nxt">
          {{ 'i-arrow.svg' | inline_asset_content }}
        </button>
      </nav>
    </div>
    <div class="swiper_">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <figure>
                <img
                  src="{{ block.settings.image | image_url}}"
                  width="auto"
                  height="auto"
                >
              </figure>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "main",
  "settings": [
    {
      "id": "collection_url",
      "label": "Collection URL",
      "type": "url"
    }
  ],
  "blocks": [
    {
      "name": "Gallery",
      "type": "gallery",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
