{{ 's-p-product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'j-product.js' | asset_url }}" defer></script>
<script src="{{ 'j-accordion.js' | asset_url }}" defer></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign available = current_variant.available
  if current_variant.compare_at_price > current_variant.price
    assign compare_at_price = current_variant.compare_at_price
  endif
%}

<div class="p">
  <div class="product">
    <h1>{{ product.title }}</h1>
    <div class="product_info">
      <div class="l">
        <p>{{ product.description | strip_html }}</p>
        {% comment %} <p>
          *All products are 100 % Copper & Silver Plated
          <br>
          *Food Safety Grade Approved
        </p> {% endcomment %}
      </div>
      <div class="r">
        <div>
          <p>
            {{ current_variant.metafields.custom.dimensions }}
          </p>
        </div>
        <div>
          <p class="current-price">
            <span>{{ current_variant.price | money_without_currency | remove: '.00' }}</span>
            {{ shop.currency }}
          </p>
        </div>
        <div>
          {% render 'product-form' %}
        </div>
        <div>
          <div class="product_atc">
            {% if available %}
              <button
                type="submit"
                form="pf"
              >
                Add to Bag
              </button>
            {% else %}
              <button
                type="submit"
                disabled
                class="disabled"
              >
                Sold Out
              </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% render 'product-gallery' %}

    {% comment %}
        PRODUCT INFO
      <div class="product_info_">
        <div class="product_info">
          <h1 class="product_title">{{ product.title }}</h1>
          <div class="product_price">
            <div class="current-price">
              <span>{{ current_variant.price | money_without_currency | remove: '.00' }}</span>
              {{ shop.currency }}
            </div>

            <div
              class="compare-price {%unless compare_at_price %}d-n{% endunless %}"
            >
              <span>
                {{ current_variant.compare_at_price | money_without_currency | remove: '.00' }}
              </span>
              {{ shop.currency }}
            </div>
          </div>

          {% render 'product-form' %}

          <div class="product_data">
            {% if product.description %}
              <div class="product_desc">
                <h2>PPODUCT DESCRIPTION</h2>
                <p>
                  {{ product.description | strip_html }}
                </p>
              </div>
            {% endif %}

            {% comment %}
              {% render 'accordion',
                heading: 'MATERIALS',
                content: product.metafields.custom.material,
                default: '100% Cotton'
              %}
            {% endcomment %}
            {% liquid
              assign y = false
              if product.metafields.custom.fit or product.metafields.custom.material
                assign y = true
              endif
            %}

            {% if y %}
              {% assign x = 'Materials: '
                | append: product.metafields.custom.material
                | append: '<br>'
                | append: 'Fit: '
                | append: product.metafields.custom.fit
              %}

              {% render 'accordion', heading: 'MORE INFORMATION', content: x, default: 'Contact for more info.' %}
            {% endif %}
          </div>
        </div>
      </div>
    {% endcomment %}
  </div>

  {% render 'related-products' %}
  {% comment %} {% render 'recommended-products' %} {% endcomment %}
</div>

<script>
  const product = {{ product | json }};
</script>

{% schema %}
{
  "name": "product",
  "settings": []
}
{% endschema %}
